body {
    background-color: #393E46;
   

}

.header {
    padding-top: 30px;
    width: 70%;
    margin: auto;
    text-align: center;
}

h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
    color: #4ECCA3;
}

p {
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
}

.dice {
    display: inline-block;
    text-align: center;
}

img {
    width: 80%;
  }

img:hover {
    cursor: pointer;
}
  
  footer {
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
  
  }
  
  .pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
  }